################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/GreenMaterialBackEnd/bin/Debug/net6.0/GreenMaterialBackEnd.dll
/GreenMaterialBackEnd/bin/Debug/net6.0/GreenMaterialBackEnd.pdb
/DB/bin/Debug/net6.0/DB.dll
/DB/bin/Debug/net6.0/DB.pdb
/DB/obj/Debug/net6.0/ref/DB.dll
/DB/obj/Debug/net6.0/refint/DB.dll
/DB/obj/Debug/net6.0/DB.csproj.AssemblyReference.cache
/DB/obj/Debug/net6.0/DB.csproj.CoreCompileInputs.cache
/DB/obj/Debug/net6.0/DB.dll
/DB/obj/Debug/net6.0/DB.pdb
/GreenMaterialBackEnd/obj/Debug/net6.0/refint/GreenMaterialBackEnd.dll
/GreenMaterialBackEnd/obj/Debug/net6.0/ref/GreenMaterialBackEnd.dll
/GreenMaterialBackEnd/obj/Debug/net6.0/GreenMaterialBackEnd.csproj.AssemblyReference.cache
/GreenMaterialBackEnd/obj/Debug/net6.0/GreenMaterialBackEnd.csproj.CoreCompileInputs.cache
/GreenMaterialBackEnd/obj/Debug/net6.0/GreenMaterialBackEnd.dll
/GreenMaterialBackEnd/obj/Debug/net6.0/GreenMaterialBackEnd.pdb
/GreenMaterialBackEnd/bin/Debug/net6.0/DB.dll
/GreenMaterialBackEnd/bin/Debug/net6.0/DB.pdb
/GreenMaterialBackEnd/bin/Debug/net6.0/GreenMaterialBackEnd.dll
/GreenMaterialBackEnd/bin/Debug/net6.0/GreenMaterialBackEnd.pdb
/GreenMaterialBackEnd/bin/Debug/net6.0/appsettings.json
/GreenMaterialBackEnd/bin/Debug/net6.0/GreenMaterialBackEnd.exe
/GreenMaterialBackEnd/appsettings.json
