################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/GreenMaterialBackEnd/bin/Debug/net6.0/GreenMaterialBackEnd.dll
/GreenMaterialBackEnd/bin/Debug/net6.0/GreenMaterialBackEnd.pdb
