<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/71488efd-e5b2-41ee-8f62-f2f70034fe76/resourcegroups/greenMaterial/providers/Microsoft.Web/sites/GreenMaterialBackEnd20231024004445</ResourceId>
    <ResourceGroup>greenMaterial</ResourceGroup>
    <ApiResourceId>/subscriptions/71488efd-e5b2-41ee-8f62-f2f70034fe76/resourceGroups/greenMaterial/providers/Microsoft.ApiManagement/service/GreenMaterialBackEndapi/apis/GreenMaterialBackEnd</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://greenmaterialbackend20231024004445.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>62e7da1a-ee92-4bbd-bd7f-47d0f4564615</ProjectGuid>
    <MSDeployServiceURL>greenmaterialbackend20231024004445.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>GreenMaterialBackEnd20231024004445</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$GreenMaterialBackEnd20231024004445</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>