<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ApiResourceId>/subscriptions/71488efd-e5b2-41ee-8f62-f2f70034fe76/resourceGroups/greenMaterial/providers/Microsoft.ApiManagement/service/GreenMaterialBackEndapi/apis/GreenMaterialBackEnd</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <ResourceId>/subscriptions/71488efd-e5b2-41ee-8f62-f2f70034fe76/resourceGroups/greenMaterial/providers/Microsoft.Web/sites/GreenMaterialApi</ResourceId>
    <ResourceGroup>greenMaterial</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://greenmaterialapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>62e7da1a-ee92-4bbd-bd7f-47d0f4564615</ProjectGuid>
    <PublishUrl>https://greenmaterialapi.scm.azurewebsites.net/</PublishUrl>
    <UserName>$GreenMaterialApi</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>